<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <main>
        <h1>Home</h1>
        <ul>
            <li><a href="/characters?sort=name&limit=10">/characters?sort=name&limit=10</a></li>
            <li><a href="/character/:name">/character/:name</a></li>
            <li><a href="/planetresidents">/planetresidents</a></li>
        </main>
</body>
</html>
